html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #ff9a9e, #fad0c4);
    margin: 0;
    padding:0;
        width: 100%;
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
    text-align: center;
    color: #fff;
}

h1 {
    margin-bottom: 20px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 15px;
    max-width: 600px;
    margin: 0 auto;
}

.gallery img {
    width: 100%;
    border-radius: 15px;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.gallery img:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

@media (max-width: 500px) {
    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    }
}


h1 {
    text-align: center;
    margin-top: 50px;
    color: rgb(207, 19, 138);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}
p {
    text-align: center;
    margin-top: -10px;
    color: rgb(0, 0, 0);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:20px;

}
 .message {
 margin-top: 25px;
    font-size: 20px;
    line-height: 1.6;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
    display: inline-block;
    padding: 15px 25px;
    border-radius: 15px;
 box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
    
@media (max-width: 500px) {
    .gallery {
     grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  } }